.flex_grid_container {
    display: flex;
    justify-content: flex-start;
    margin: 50px;
  }

.content_grid_container {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 50px;
    width: 100%;
  }

.flag_box {
    background-color: #FFF;
    box-shadow: 0 4px 6px rgba(153, 153, 153, 0.1);
    border-radius: 5px;
    width: 250px;
    height: 300px;
    cursor: pointer;
  }
  
  .flag_box:hover {
    transition-delay: 40ms;
    transform: scale(1.1);
  }
  
  .box_flag_image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box_flag_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .box_flag_content {
    padding: 15px;
  }
  
  .box_flag_content h3{
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .box_flag_content p{
    font-weight: 400;
    font-size: 14px;
  }
  
  .box_flag_content p span{
    font-weight: 700;
  }